
<div class="user-card">
  <h2 class="user-card-title"><%=  link_to user.name, user_path(user) %></h2>
  <span>Friends: <%= user.friends.count %></span>
  <span>Posts: <%= user.posts.count %></span>
  <%= add_friend_btn(user) %>
</div>